<div class="container">
  <div class="columns">
    <div class="column is-12-mobile is-10-tablet is-offset-1-tablet has-text-centered mt-6 pr-0"
         data-controller="infinite-scroll" data-infinite-scroll-url="<%= favorite_images_path %>"
         data-infinite-scroll-page="2" data-infinite-scroll-active="<%= !!@pagy.next %>">
      <h2 class="title is-2">Your favorite images</h2>

      <div class="mt-6" data-controller="modal">
        <%= render partial: 'images/modal' %>
        <div class="columns is-multiline"
             data-action="scroll@window->infinite-scroll#scroll"
             data-target="infinite-scroll.entries">

          <% if @images.size > 0 %>
            <%= render partial: 'images/image', collection: @images, as: :image %>
          <% else %>
            <div class="has-text-centered" style="width: 100%;">
              <h4 class="mt-6 subtitle is-4">This is empty, start to find images and mark them as favorites!</h4>
            </div>
          <% end %>
        </div>
        <div class="lds-ring is-hidden" data-target="infinite-scroll.loading"><div></div><div></div><div></div><div></div></div>
      </div>
    </div>
  </div>
</div>
